# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Pipfile
Pipfile.lock

# PyCharm
.idea/

# Examples
app/demo-chatbot/*
!app/demo-chatbot/README.md
!app/demo-chatbot/Makefile
app/demo-fashion/*
!app/demo-fashion/README.md
!app/demo-fashion/Makefile
app/demo-multimodal/*
!app/demo-multimodal/README.md
!app/demo-multimodal/Makefile
app/index-search-images/imgs/*.jpg

# multimodal
app/multimodal/DocVectorIndexer
app/multimodal/KeyValueIndexer
app/multimodal/input/*
!app/multimodal/input/.keep
app/multimodal/multimodal
app/multimodal/sql/*
!app/multimodal/sql/.keep
app/multimodal/images/*
!app/multimodal/images/.keep
app/bkp-multimodal

# MacOS
.DS_Store
